/*.container-modal .container-header{
    font-size: 20px;
    color: #1A603D;
    background: url("../../../img/common/nyro_modal/header.gif") no-repeat scroll 30px 30px transparent;
    width: 451px;
    height: 106px;
 
}*/
html body div.container-modal div.container-header h1.logo{
	float: right;
    font-family: arial;
    font-size: 21px;
    font-weight: bold;
    margin-right: 11px;
    margin-top: 35px;
}
ul {list-style:none}

html body div.container-modal div form div.input label{
    color: #1A603D;
    float: left;
    font-size: 11px;
    line-height: 34px;
    width: 172px;
	clear:both;
}

html body div.container-modal div Form div.input input{
    background: url("../../../img/site/input4.gif") no-repeat scroll 0 0 transparent;
    border-color: #1A603D;
    /*border-right: 1px solid #E9E9EA;*/
    border-style: solid;
    border-width: 1px;
    color: #333333;
    float: left;
    height: 23px;
    line-height: 23px;
    margin: 0 4px 0 0;
    padding: 5px;
    width: 150px;
}
.link2{
	background:url(../../../img/site/bg_button.png) repeat-x;
	width:101px;
	height:27px;
	float:right;
	margin:15px 32px 0 0;
	border: medium none;
    color: #FFFFFF;
    cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
}



html body div.container-modal div form ul li.clear{ clear: both;float: left;margin-bottom: 10px;}
html body div.container-modal div form ul li.clear div.input div.error-message{color:red;font-size:12px;float: left;padding: 20px 0 0;}
html body div.container-modal div form ul li.clear div#flashMessage.mensagem-erro{color:red;font-size:14px;font-weight:bold;float: left;padding: 20px 0 0;}

/*
.flash_error{background:#FF6666;color:white;width:100%;padding:20px 0px;margin:0 auto;text-align:center;font-family:arial;}
.flash_success{background:#8CA93E;color:white;width:100%;padding:20px 0px;margin:0 auto;text-align:center;font-family:arial;}*/
.flash_error{color:#FF6666;width:300px;padding:10px 0px 0px 0px;margin:0 auto;text-align:center;font-family:arial;font-size: 13px;font-weight: bold;}
.flash_success{color:#8CA93E;width:300px;padding:10px 0px 0px 0px;margin:0 auto;text-align:center;font-family:arial;font-size: 13px;font-weight: bold;}


#content-esqueci-senha h1 {
	margin-bottom:0px;
	text-align:center;
	font-size:20px;
	color:#B62D00;
	line-height:41px;
	font-family: arial;
}
#content-esqueci-senha label{
    clear: both;
    color: #999999;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0px;
    text-align: left;
    width: 350px;
}
#content-esqueci-senha div.input input{
	width:400px;
	padding:0 10px;
	color:#666;
	border:#969696 1px solid;
	border-left:#969696 2px solid;
	height:30px;
}
#content-esqueci-senha .input{
	border: 0 none;
	height: auto; 
	line-height: auto;
	width: auto;
}
#content-esqueci-senha ul{
	margin: 0px;
	float: left;
	padding-left: 28px;
}
#content-esqueci-senha li{
	clear: both;
	padding-left: 20px;
}
#content-esqueci-senha li.clear{
	clear: both;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 400px;
}
/*#content-esqueci-senha li .link2{
	float: none;
	color: #FFF;
	margin-left: 150px;
	margin-top: 10px;
}*/
#content-esqueci-senha .logo{
	background: url("../../../img/common/nyro_modal/header.gif") no-repeat scroll center 30px transparent;
    float: left;
    height: 90px;
    text-align: center;
    width: 483px;
}
#content-esqueci-senha .error-message{
	float: left;
	clear: both;
	color: red;
	width: 400px;
	text-align: center;
	display: block;
}
#content-esqueci-senha .flash_success{
	margin: 10px auto -20px;
    padding: 5px;
}