<?php echo $javascript->link('admin/sac/index.js',false); ?>
<div class="index ">
    <h2><?php __('SAC'); ?></h2>
	<?php echo $form->create('Sac', array('action'=>'/index','class'=>'formBusca'));?>
	<fieldset>
		<div class="left">
            <?php echo $form->input('Filter.sac_tipo_id',array('options'=>array(''=>'Selecione')+$sac_tipos, 'div'=>false, 'class'=> 'produtosFiltro')); ?>
        </div>
		<div class="left">
			<?php echo $form->input('Filter.filtro',array('div'=>false,'label'=>'Nome / E-mail / Mensagem:','class'=>'produtosFiltro'));  ?>
		</div>
		<div class="submit">
			<input name="submit" type="submit" class="button1" value="Busca" />
		</div>
		<div class="submit">
			<input name="submit" type="submit" class="button1" value="Exportar" />
		</div>
		<div class="submit">
			<a href="<?php e($this->Html->Url('index/filter:clear')) ?>" title="Limpar Filtro" class="button" >Limpar Filtro</a>
		</div>
	</fieldset>
	<?php echo $form->end(); ?>
	
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('nome'); ?></th>
            <th><?php echo $this->Paginator->sort('email'); ?></th>           
			<th><?php echo $this->Paginator->sort('telefone'); ?></th>
			<th><?php echo $this->Paginator->sort('mensagem'); ?></th>
			<th><?php echo $this->Paginator->sort('sac_tipo_id'); ?></th>
			<th><?php echo $this->Paginator->sort('Data Criação', 'created'); ?></th>

            <th class="actions"><?php __('Ações'); ?></th>
        </tr>
        <?php
        $i = 0;
        foreach ($sac as $sac):
            $class = null;
            if ($i++ % 2 == 0) {
                $class = ' class="altrow"';
            }
            ?>
            <tr<?php echo $class; ?>>
                <td align="center"><?php echo $sac['Sac']['id']; ?>&nbsp;</td>
				<td><?php echo $sac['Sac']['nome']; ?>&nbsp;</td>
                <td><?php echo $sac['Sac']['email']; ?>&nbsp;</td>                
				<td><?php echo $sac['Sac']['telefone']; ?>&nbsp;</td>
				<td><?php echo $sac['Sac']['mensagem']; ?>&nbsp;</td>
				<td><?php echo $sac['SacTipo']['nome']; ?>&nbsp;</td>
				<td align="center"><?php echo $this->Calendario->dataFormatada('d-m-Y H:i:s', $sac['Sac']['created']); ?>&nbsp;</td>

                <td class="actions">
                    <?php echo $this->Html->link(__('Visualizar', true), array('action' => 'view', $sac['Sac']['id'])); ?>
					<?php echo $this->Html->link(__('Deletar', true), array('action' => 'delete', $sac['Sac']['id']), null, sprintf(__('Deseja mesmo remover o registro # %s?', true), $sac['Sac']['id'])); ?>
				</td>
            </tr>
        <?php endforeach; ?>
    </table>
    <p>
        <?php
        echo $this->Paginator->counter(array(
            'format' => __('Página %page% de %pages%, mostrando %current% registros de %count%, começando no registro %start% e terminando no %end%', true)
        ));
        ?>	</p>

    <div class="paging">
        <?php echo $this->Paginator->prev('<< ' . __('anterior', true), array(), null, array('class' => 'disabled')); ?>
	 | 	<?php echo $this->Paginator->numbers(); ?>
        |
        <?php echo $this->Paginator->next(__('próxima', true) . ' >>', array(), null, array('class' => 'disabled')); ?>
    </div>
    
</div>
