.jcarousel-skin-tango .jcarousel-container {
    float: right;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 171px;
    padding: 10px 30px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  171px;
    height: 35px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 161px;
    height: 35px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.menuCarrossel .jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("next-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 32px;
}

.menuCarrossel .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("prev-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 5px;
    position: absolute;
    top: 2px;
    width: 32px;
}
.menuCarrossel .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background-position: -87px 0;
    cursor: default;
}
.menuCarrossel .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 30px;
}

.menuCarrossel .jcarousel-skin-tango .jcarousel-item {
    height: 45px;
    width: auto;
}
.menuCarrossel .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 10px 30px;
    width: 95%;
}

.menuCarrossel .jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 35px;
    width: 896px;
}

.menuCarrossel .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin:0;
}
.menuCarrossel .jcarousel-skin-tango .jcarousel-item-horizontal span{
    text-align: center;
}

.menuCarrossel .jcarousel-skin-tango .no-padding-side{
    padding:0;
    margin:0;
}