<?php $downloads = $pagina_element_content; ?>

<?php if(count($downloads) > 0): ?>

  <!-- start downloads -->
  <div class="downloads">
    <ul>
      <?php
        $cont = 0;
        foreach($downloads as $download):
      ?>
        <a href="<?php echo $this->Html->Url("/downloads/download/").$download['Download']['id']."/".low(Inflector::slug($download['Download']['nome'], '-'))."/"; ?>" title="<?php echo $download['Download']['nome']; ?>">
          <li>
            <!-- start td1 -->
            <div class="td1">
              <h4><?php echo $download['Download']['nome']; ?></h4>
              <span><?php echo $download['Download']['descricao']; ?></span>
            </div>
            <!-- end td1 -->
            <!-- start td2 -->
            <div class="td2">
              <?php if($download['Download']['versao'] != ""): ?>
                <p>Versão: <?php echo $download['Download']['versao']; ?></p>
              <?php else: ?>
                <p>&nbsp;</p>
              <?php endIf; ?>
            </div>
            <!-- end td2 -->
            <!-- start td3 -->
            <div class="td3">
              <p>Tamanho: <?php echo number_format(((int)$download['Download']['filesize']/1000000), 2, '.', ''); ?> Mb</p>
            </div>
            <!-- end td3 -->
            <div class="clear"></div>
          </li>
        </a>
      <?php
        endForeach;
      ?>
    </ul>
    <div class="clear"></div>
  </div>
  <!-- end downloads -->
  <div class="clear"></div>
  <!-- start pagination -->
  <div class="pagination" style="margin-right: 20px;">
    <ul>
      <?php echo $this->Paginator->numbers(array( 'tag' => 'li', 'separator' => '<li>.</li>' )); ?>
    </ul>
    <div class="clear"></div>
  </div>
  <!-- end pagination -->

<?php else: ?>

  <!-- start downloads -->
  <div class="downloads">
    <p>Nenhum registro encontrado.</p>
  </div>
  <!-- end downloads -->

<?php endIf; ?>
<div class="clear"></div>