/* -----------------------------------------------------------
   RESET
-------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, .frmCad, dir,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, th, select,textarea, clear, br, button, hr, thead, tbody, tfoot, th, fieldset, embed {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

button {
	cursor:pointer;
}

a	{ outline: none; }

img {   margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body { line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. *//*
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }*/

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0 0 0 0;
}