<?php echo $this->Javascript->link('site/home/index.js'); ?>

<!-- start vitrines_destaque -->
<?php 
	if(isset($vitrines_destaque) && is_array($vitrines_destaque) && count($vitrines_destaque) > 0){
		echo $this->element('site/vitrines_destaque', array("produtos_vitrines" => $vitrines_destaque)); 
	}
?>
<!-- end vitrines_destaque -->

<div class="clear"></div>

<!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) -->
<div id="livezilla_tracking" style="display:none"></div>
<script type="text/javascript">
	var script = document.createElement("script");
	script.async=true;
	script.type="text/javascript";
	var src = "http://www.fueltech.com.br/livezilla/server.php?a=3311e&request=track&output=jcrpt&ovlp=MjI_&ovlc=IzAwMDAwMA__&ovlct=I2MwYzBjMA__&ovlt=QWp1ZGEgT25saW5l&ovlto=TGl2ZSBIZWxwIChMZWF2ZSBNZXNzYWdlKQ__&ovls=MQ__&ovloo=MQ__&ovlapo=MQ__&nse="+Math.random();
	setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);
</script>
	<noscript>
		<img src="http://www.fueltech.com.br/livezilla/server.php?a=3311e&amp;request=track&amp;output=nojcrpt&amp;ovlp=MjI_&amp;ovlc=IzAwMDAwMA__&amp;ovlct=I2MwYzBjMA__&amp;ovlt=QWp1ZGEgT25saW5l&amp;ovlto=TGl2ZSBIZWxwIChMZWF2ZSBNZXNzYWdlKQ__&amp;ovls=MQ__&amp;ovloo=MQ__&amp;ovlapo=MQ__" width="0" height="0" style="visibility:hidden;" alt="">
	</noscript><!-- http://www.LiveZilla.net Tracking Code -->