<?php  
echo $javascript->link('common/jquery.meio_mask.js',false);
echo $javascript->link('common/tiny_mce/tiny_mce_src.js',false);?>
<?php echo $javascript->link('admin/settings/crud.js', false); ?>
<div class="index">
    <h2><?php echo $title_for_layout; ?></h2>

    <?php
        echo $form->create('Setting', array(
            'url' => array(
                'controller' => 'settings',
                'action' => 'prefix',
                $prefix,
            ),
        ));
    ?>
    <fieldset>
    <?php
        $i = 0;
        foreach ($settings AS $setting) {
            $key = $setting['Setting']['key'];
            $keyE = explode('.', $key);
            $keyTitle = Inflector::humanize($keyE['1']);

            $label = $keyTitle;
            if ($setting['Setting']['title'] != null) {
                $label = $setting['Setting']['title'];
            }

            $inputType = 'text';
            if ($setting['Setting']['input_type'] != null) {
                $inputType = $setting['Setting']['input_type'];
            }

            echo '<div class="setting">';
                echo $form->input("Setting.$i.id", array('value' => $setting['Setting']['id']));
                echo $form->input("Setting.$i.key", array('type' => 'hidden', 'value' => $key));
                if ($setting['Setting']['input_type'] == 'checkbox') {
                    if ($setting['Setting']['value'] == 1) {
                        echo $form->input("Setting.$i.value", array(
                            'label' => $label,
                            'type' => $setting['Setting']['input_type'],
                            'checked' => 'checked',
                            'after' => "<div>{$setting['Setting']['description']}</div>",
                            'class' => $setting['Setting']['params'],
                        ));
                    } else {
                        echo $form->input("Setting.$i.value", array(
                            'label' => $label,
                            'type' => $setting['Setting']['input_type'],
                            'after' => "<div>{$setting['Setting']['description']}</div>",
                            'class' => $setting['Setting']['params'],
                        ));
                    }
                } else {
                    echo $form->input("Setting.$i.value", array(
                        'label' => $label,
                        'type' => $inputType,
                        'value' => $setting['Setting']['value'],
                        'after' => "<div>{$setting['Setting']['description']}</div>",
						'class' => $setting['Setting']['params'],
                    ));
                }
            echo "</div>";
            $i++;
        }
    ?>
    </fieldset>
    <?php echo $form->end("Enviar"); ?>
</div>