<div class="index">
<?php echo $this->Form->create('Cor',array('type' => 'file')); ?>
	<fieldset>
		<legend><?php __('Editar Cor'); ?></legend>
	<?php
		echo $this->Form->input('status',array('type'=>'radio','options'=>array(true=>'Ativo',false=>'Inativo')));
		echo $this->Form->input('id');
		echo $this->Form->input('nome',array('class'=>'w312'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
