<div class="index">
<?php echo $this->Form->create('Tamanho',array('type' => 'file')); ?>
	<fieldset>
		<legend><?php __('Adicionar Tamanho'); ?></legend>
	<?php
		echo $this->Form->input('status',array('type'=>'radio','default'=>true,'options'=>array(true=>'Ativo',false=>'Inativo')));
		echo $this->Form->input('nome',array('class'=>'w312'));
	?>
	</fieldset>
       
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
