<div class="index">
<?php echo $this->Form->create('BannerTipo');?>
	<fieldset>
		<legend><?php __('Adicionar Banner Tipo'); ?></legend>
	<?php
		echo $this->Form->input('nome');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
