<div class="index">
<?php echo $this->Form->create('PagamentoTipo');?>
	<fieldset>
		<legend><?php __('Editar Pagamento Tipo'); ?></legend>
	<?php
	echo $this->Form->input('id');
	echo $this->Form->input('status',array('type'=>'radio','options'=>array(true=>'Ativo',false=>'Inativo')));
        echo $this->Form->input('nome');
        ?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
