
<div class="index">
<?php echo $this->Form->create('PagamentoTipo');?>
	<fieldset>
		<legend><?php __('Adicionar Pagamento Tipo'); ?></legend>
	<?php
	echo $this->Form->input('status',array('default'=>true,'type'=>'radio','options'=>array(true=>'Ativo',false=>'Inativo')));
        echo $this->Form->input('nome');
       ?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
