<?php 
if(!empty($data)){
	foreach($data as $item):
?>
	<li>
		<a href="javascript:void(0);" title="close" class="close remove-produto-carrinho-ajax" rel="<?php echo $item['produto_id']; ?>">close</a>
		<?php echo $item['quantidade']; ?>  <?php echo $item['nome']; ?>
	</li>
<?php
	endForeach;
}
?>