<?php
	echo $javascript->link('common/jquery.meio_mask.js', false);
	echo $javascript->link('common/tiny_mce/tiny_mce_src.js',false);
	echo $javascript->link('admin/linguagens/index.js',false);
?>
<div class="index">
<?php echo $this->Form->create('Linguagem',array('type' => 'file', 'action'=>'add'));?>
	<fieldset>
 		<legend><?php printf(__('Adicionar %s', true), __('Linguagem', true)); ?></legend>
	<?php
		echo $this->Form->input('status', array('default'=>true,'type' => 'radio', 'options' => array(true => 'Ativo', false => 'Inativo')));
		echo $this->Form->input('nome', array('class'=>'w312'));
		echo $this->Form->input('codigo', array('class'=>'w312'));
		echo $this->Form->end(__('Inserir', true));
		echo $this->Form->input('externo', array('default'=>false,'type' => 'radio', 'options' => array(true => 'Sim', false => 'Não')));
		echo $this->Form->input('url',array('class'=>'w312'));
	?>
	<legend>Imagem</legend>
	</fieldset>
	<?php
		echo $this->Form->input('Linguagem.thumb_filename', array('type' => 'file'));
		echo $this->Form->input('Linguagem.thumb_dir', array('type' => 'hidden'));
		echo $this->Form->input('Linguagem.thumb_mimetype', array('type' => 'hidden'));
		echo $this->Form->input('Linguagem.thumb_filesize', array('type' => 'hidden'));
	?>
</div>