<?php /*
if(!empty($banner_center)): 
    $width = isset($width)?$width:115;
    $height = isset($height)?$height:52;
?>
	<!-- start client_box -->
	<div class="client_box">
        <ul>
			<?php
			foreach($banner_center as $indice => $banners): 
			?>
				<li>
					<?php
					if($banners['Banner']['filename']!=""&&$banners['Banner']['mimetype']=='application/x-shockwave-flash'){
						echo $flash->renderSwf($banners['Banner']['dir'].DS.$banners['Banner']['filename'], $width, $height,false);
					}elseif($banners['Banner']['filename']!=""){
						if($banners['Banner']['link']){
							echo $this->Html->link($image->resize($banners['Banner']['dir'].DS.$banners['Banner']['filename'],$width, $height,false),$banners['Banner']['link'],array('escape'=>false));
						}else{
							echo $image->resize($banners['Banner']['dir'].DS.$banners['Banner']['filename'],$width, $height,false);
						}
					}
					?>
				</li>
			<?php
			endForeach;
			?>
        </ul>
	</div>
	<!-- end client_box -->
	
<?php
endIf; */
?>




<?php 
if(!empty($banner_center)): 
    $width = isset($width)?$width:966;
    $height = isset($height)?$height:36;
	?>
		<!-- topline -->
		<div class="top-line">
			
			<?php
			foreach($banner_center as $indice => $banners): 
			?>
				<?php
				if($banners['Banner']['filename']!=""&&$banners['Banner']['mimetype']=='application/x-shockwave-flash'){
					echo $flash->renderSwf($banners['Banner']['dir'].DS.$banners['Banner']['filename'], $width, $height,false);
				}elseif($banners['Banner']['filename']!=""){
					if($banners['Banner']['link']){
						echo $this->Html->link($image->resize($banners['Banner']['dir'].DS.$banners['Banner']['filename'],$width, $height,false),$banners['Banner']['link'],array('escape'=>false));
					}else{
						echo $image->resize($banners['Banner']['dir'].DS.$banners['Banner']['filename'],$width, $height,false);
					}
				}
				?>
			<?php
			endForeach;
			?>
			
		</div>
		<!-- topline -->
	<?php
endIf; 
?>

