body {
    color: #fff;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:11px;
    margin: 0;
    height:100%;
}

.index {
	padding-top: 150px;
}

form {
     width:452px;
     height:325px;
     margin:0 auto;
     background: url("../../../img/admin/login/bg_toplogin.gif") no-repeat top;
}

h1 {
    color: #464646;
    font: bold 1.3em Arial,Verdana;
    margin: 5px;
    padding: 11px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 200px;
    float: left;
}

form fieldset legend{
    float: right;
    padding-bottom: 23px;
    padding-top: 10px;
    width: 200px;
}

form fieldset{
    border:0px;
    margin:0 auto;
    width:450px;
}

form label{
    color:#666;
    font-size: 13px;
    font-weight:bold;
    float:left;
    height:20px;
    line-height: 40px;
    padding-right:5px;
    width:45px;
    font-family: Arial;
}

form div {
    clear: both;
    margin-bottom: 1em;
    padding: 0.5em;
    vertical-align: text-top;
    color: #990000 !important;
}

* {
    margin: 0;
    padding: 0;
}

form label {
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
label {
    display: block;
    font-size: 110%;
    margin-bottom: 3px;
}


.inputLogin {
	width: 300px;
	margin: 0 auto;
}

input#bt_login {
    float: right;
    height: 30px;
    margin-right: 135px;
    margin-top: 5px;
    width: 85px;
}

input {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
    margin-right: 5px;
}
input:hover, input:focus, textarea:hover, select:hover, checkbox:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A4A4A4;
}
input[type="text"], input[type="password"] {
    padding: 4px;
}
input[type="button"], input[type="submit"] {
    background: url("../../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px 6px;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background: url("../../../img/admin/nav.png") repeat-x scroll left -50px transparent;
    cursor: pointer;
}

