.productcol2 .product-list li {
	padding-right:35px;
}
h2.title span {
    padding:0;
}
#navigation {
	margin-top:-3px;
}
h3.heading {
	padding-top:7px;
}

.product-box {
    position:relative;
}
.content {
    position:relative;
}
.map {
	float:left;
	position:relative;
}
.map-detail {
	float:right;
	position:relative;
}
.productcol2 .product-list li {
    padding-right:26px;
}
#numerical li.last strong {
    border-bottom: medium none;
    padding-right: 0;
}
#numerical li strong.last b {
    position: relative;
    top:-3px;
}
#numerical li strong  b {
    position: absolute;
    top:25px;
	left:28px;
}
.cadastro .commoncol {
	min-height:660px;
}
.table2 .row .icon-search {
	float:left;
	margin-left:60px;
}
.fillform3.second .block {
	float:left;
}



