ul.top-link li:first-child {
	width:190px;
}
#top-bar span.chat {
	width:90px;
}
.right-banner .title h3 {
	letter-spacing:-1px;
}
.form1 .input {
	width:300px;
	padding:5px 10px;
}
.form2 .input {
	background:#fff;
	width:118px;
}
#navigation li.hl{
	width:109px;
	background:url(../../img/site/bg_hl.png) no-repeat;
	line-height:33px;
	font-size:12px;
	color:#ec1d25;
	text-align:right;
	text-shadow:none;
	margin:0px 0 0 0px !important;
	padding:13px 28px 0 37px !important;
}
.customSelectContent select{
	top: 14px;
}