ul.top-link li:first-child {
	width:190px;
}
#top-bar span.chat {
	width:90px;
}
.right-banner .title h3 {
	letter-spacing:-1px;
}
.form1 .input {
	width:300px;
	padding:5px 10px;
}
.form2 .input {
	background:#fff;
	width:118px;
}
#navigation li.hl{
	/*width:143px;
	background:url(../../img/site/bg_hl.png) no-repeat;
	line-height:33px;
	font-size:12px;
	color:#ec1d25;
	text-align:right;
	text-shadow:none;
	margin:13px 0 0 7px;
	padding:0 28px 0 0;*/
	background: url("../../img/site/bg_hl.png") no-repeat scroll 5px 13px transparent;
    color: #EC1D25;
    float: right;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0 9px 0 0;
    padding: 13px 28px 0 34px;
    text-align: right;
    text-shadow: none;
    width: 115px;
}
.customSelectContent select{
	top: 14px;
}